// Colors
$primary-color: #0074e0;
$meta-color: #666666;
$text-color: #666666;
$heading-color: #0C0C0C;
$nav-links-color: #0C0C0C;
$bg-light: #F7F7F7;
$bg-dark: #242424;
$border-color: #ebebeb;
$border-color-dark: #202934;
$post-link-color: #0074e0;

// Fonts
$body-font: 'Roboto', sans-serif;
$heading-font: 'Roboto', sans-serif;

// Navbar
$nav-height: 72px;

// Grid
$container-width: 1280px;

// Transitions
$transition-all: all .2s cubic-bezier(.43,.07,.61,.95);

// Heading Sizes
$h1-size: 2.375rem;
$h2-size: 2rem;
$h3-size: 1.75rem;
$h4-size: 1.5rem;
$h5-size: 1.25rem;
$h6-size: 1rem;

$h1-size--sm-down: 2rem;
$h2-size--sm-down: 1.7rem;
$h3-size--sm-down: 1.5rem;
$h4-size--sm-down: 1.35rem;

// Box Shadow
$box-shadow: 0px 20px 40px 0px rgba(60, 65, 83, 0.1);

// Buttons
$btn-border-radius: 5px;

// Gutenberg
$editor-color-1: #5F3CEF; // violet
$editor-color-2: #d54b00; // orange
$editor-color-3: #dd566b; // pink
$editor-color-4: #fbdb75; // yellow
$editor-color-5: #15474f; // tiber
$editor-color-6: #163357; // navy-blue
$editor-color-7: #0d1724; // dark-blue
$editor-color-8: #F3F1F2; // silver