/*-------------------------------------------------------*/
/* Blog
/*-------------------------------------------------------*/
.entry {
  position: relative;
  margin-bottom: 50px; 
  padding-bottom: 50px;
  border-bottom: 1px solid $border-color;
  word-wrap: break-word;

  .masonry-item:last-child & {
    border-bottom: 0;
    padding-bottom: 0 !important;
  }

  &__header {
    margin-bottom: 34px;
  }

  &__img-holder {
    overflow: hidden;
    position: relative;
    
    & + .entry__body {
      padding-top: 34px;
    }

    &:hover {
      img {
        @include transform( scale(1.1) );
      }
    }    
  }

  &__img {
    width: 100%;
    @include transition(transform 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) !important );
  } 

  &__title {
    font-size: 1.625rem;
    margin-bottom: 14px;
    position: relative;

    a:hover,
    a:focus {
      color: $primary-color;
    }

    @include bp-lg-up {
      font-size: 1.75rem;

      &--large {
        font-size: 2.125rem;
      }

    }    

    &--small {
      font-size: 1.375rem;
    }
  }

  &__excerpt {

    p {
      margin-bottom: 0;
    }
  }
}


/*-------------------------------------------------------*/
/* Meta
/*-------------------------------------------------------*/
.entry__meta {
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  &-item {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    color: $meta-color;

    a {
      color: $meta-color;
    }

    &:not(:last-child) {
      margin-right: 14px;
    }

    .entry__category-item {
      color: $primary-color;
    }
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
      color: $primary-color;
    }
  }

  .page-title--center & {
    justify-content: center;
  }

  .page-title--right & {
    justify-content: flex-end;
  }

}


// Categories
.entry__category {
  margin-bottom: 14px;
}

.entry__category-item {
  color: $primary-color;
  font-size: 0.75rem;
  font-weight: 700;
  margin-right: 10px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $heading-color;
    text-decoration: underline;
  }

  &:last-child {
    margin-right: 0;
  }
}



/*-------------------------------------------------------*/
/* Pagination
/*-------------------------------------------------------*/
.pagination {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 24px;
}

.post-pagination {
  margin-top: 24px;
}

.pagination span,
.pagination a,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.post-page-numbers {
  font-size: 0.875rem;
  display: inline-block;
  padding: 0 10px;
  height: 40px;
  min-width: 40px;
  line-height: 38px;
  margin: 0 2px 8px;
  text-align: center;
  color: $text-color;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid $border-color;
  list-style: none;
  @include transition($transition-all);

  &:not(span):hover {
    background-color: $primary-color;
    border-color: transparent;
    color: #fff;
  }

  &.current {
    background-color: $primary-color;
    color: #fff;
    border-color: transparent;
  }

  i {
    display: inline-block;
    font-size: 0.9375rem;
    position: relative;
    top: 1px;    

    .rtl & {
      transform: rotateY(180deg);
    }
  }
}


/* Post Pagination
-------------------------------------------------------*/
.post-pagination {
  & > span:first-child {
    margin-right: 10px;
  }
}


/* Read More
-------------------------------------------------------*/
.read-more {
  display: inline-block;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.entry__read-more {
  margin-top: 24px;
}


/*-------------------------------------------------------*/
/* Single Post
/*-------------------------------------------------------*/

/* Featured Image / Entry Header
-------------------------------------------------------*/
.single-post {

  &__entry-header {
    margin-bottom: 34px;


    .entry__category {
      margin-bottom: 20px;
    }
  }

  &__featured-img {
    margin-bottom: 40px;
  }  

  &__entry {
    overflow: visible;
    margin-bottom: 40px;
  }

  &__entry-title {
    word-wrap: break-word;
    line-height: 1.2;
    margin-bottom: 14px;
    font-size: 2.25rem;    

    @include bp-lg-up {
      font-size: 2.625rem;
    }   

  }

  &__entry-article {
    p a,
    li:not(.wp-social-link) a {
      color: $post-link-color;
      text-decoration: underline;

      &:hover {
        color: $heading-color;
      }
    }
  }
  
}


/* Single post article
-------------------------------------------------------*/
.entry__article {
  font-size: 1.125rem;
  line-height: 1.8;

  @include bp-lg-down {
    margin-top: 16px;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-top: 36px;
    margin-bottom: 20px;
  }

  & > p,
  & > ul,
  & > ol {
    margin-bottom: 34px;
  }

  // p a,
  // li:not(.wp-social-link) a {
  //   color: $post-link-color;
  //   text-decoration: underline;

  //   &:hover {
  //     color: $heading-color;
  //   }
  // }

  ol {
    padding-left: 26px;
  }
  
  ul {
    padding-left: 20px;
  }
}


/* Sidebar
/*-------------------------------------------------------*/
@include bp-lg-up {

  .sidebar:not(.elementor-column) {
    max-width: 30%;
    flex: 0 0 30%;
  }

  .everse-left-sidebar {
    .content {
      order: 2;
    }
  }

}

@include bp-xl-up {

  .everse-left-sidebar {
    .content {
      padding-left: 54px;
    }
  }

  .everse-right-sidebar {
    .content {
      padding-right: 54px;
    }
  }

}



/* Entry Tags
/*-------------------------------------------------------*/
.entry__tags {
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 16px;
}


/* Author
/*-------------------------------------------------------*/
.entry-author {
  margin-top: 24px;
  margin-bottom: 48px;
  padding: 40px;
  border: 1px solid $border-color;
  border-radius: 3px;

  &__url {
    display: inline-flex;
    float: left;
    align-items: center;
  }

  &__img {
    height: 64px;
    width: 64px;
    display: block;    
    margin-right: 24px;
    border-radius: 50%;

    @include bp-sm-down {
      width: 50px;
      height: 50px;
    }
  }

  &__img-holder {
    display: block;
    float: left;

    @include bp-sm-down {
      float: none;
      margin-bottom: 24px;
    }
  }

  &__info {
    overflow: hidden;
  }

  &__name {
    margin-bottom: 6px;
    font-size: 1.25rem;
  }

  &__website {
    display: block;
    margin-bottom: 12px;
  }

  &__socials {
    margin-top: 20px;
    display: flex;
  }
}


/* Related Posts
/*-------------------------------------------------------*/
.related-posts {
  margin-top: 60px;
  margin-bottom: 30px;

  &__entry {
    margin-bottom: 20px;
    border-bottom: 0;
    padding-bottom: 0;
  }

  &__title {
    padding-right: 80px;
  }

  &__entry-img-holder {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__entry-title {
    font-size: 1rem;

    &:hover a {
      color: $primary-color;
    }
  }
}

.entry__bg-img-holder {
  position: relative;
  overflow: hidden;
  @include background-img-cover;
  height: 198px;
}

.thumb {
  &-bg {
    margin-bottom: 0;
  }

  &-text-holder {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
    padding: 16px 24px;
    pointer-events: none;
  }

  &-entry-title {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  &-url {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}


/* Comments
/*-------------------------------------------------------*/
.entry__comments {
  margin-top: 40px;
}

.related-posts__title,
.entry-comments__title,
.comment-respond__title {
  font-size: 1.75rem;
  margin-bottom: 32px;
}

.comment-respond__title small {
  margin-left: 12px;
}

.comment-content {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-top: 36px;
    margin-bottom: 20px;
  }

  ol {
    padding-left: 26px;
  }

  ul {
    padding-left: 20px;
  }
}

.comment {
  &-list {
    padding-left: 0;
  }

  &-list,
  &-list .children {
    list-style: none;
  }

  .children {
    padding-left: 8%;
  }

  &-list > li:first-child > .comment-body {
    border-top: 0;
    padding-top: 0;
  }

  &-body {
    margin-bottom: 32px;
    padding-top: 32px;
    border-top: 1px solid $border-color;
  }

  &-text {
    overflow: hidden;

    p {
      margin-bottom: 10px;
    }
  }

  &-avatar {
    float: left;
    margin-right: 20px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }

  &-author {
    font-size: 1rem;

    &__name {
      color: $heading-color;
    }

    &__post-author-label {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      margin-bottom: 3px;
      background-color: $primary-color;
      color: #fff;
      padding: 3px 8px;
      border-radius: 3px;
      font-weight: 700;
      font-size: 0.6875rem;
    }

    a {
      color: inherit;
    }
  }

  &-metadata {
    display: inline-block;
  }

  &-date,
  &-edit-link {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: $heading-font;
    color: $meta-color;
    text-transform: uppercase;
  }

  &-edit-link {
    margin-left: 5px;
    margin-bottom: 0;
    color: $primary-color;
  }

  &-content a {
    text-decoration: underline;
  }
 
}


/* Comment Form
/*-------------------------------------------------------*/
.comment-respond {
  margin-top: 60px;
  margin-bottom: 60px;
}

.comment-form .logged-in-as {
  margin-bottom: 26px;
  margin-top: -20px;
}


/* Entry Navigation
/*-------------------------------------------------------*/
.entry-navigation {
  border-top: 1px solid $border-color;
  padding: 40px 0 112px;
  margin-top: 80px;

  &__row {
    @include display-flex;
  }

  &__img-holder {
    overflow: hidden;
    margin-top: -108px;
    border-radius: 3px;
    height: 100%;
    width: 334px;

    &:hover {
      .entry-navigation__img {
        @include transform( scale(1.1) );
      }
    }
  }

  &__img {
    @include transition(transform 0.4s cubic-bezier(0.05, 0.2, 0.1, 1));
  }

  &__body {
    padding: 4px 90px;
    flex: 2 0 0;
  }

  &__label {
    display: inline-block;
    margin-bottom: 32px;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &__title {
    font-size: 2.125rem;
    margin-bottom: 0;

    a:hover,
    a:focus {
      color: $primary-color;
    }
  }

  &__category {
    margin-bottom: 0;
  }

  @include bp-lg-down {
    padding-bottom: 60px;

    &__row {
      display: block;
    }

    &__img-holder {
      width: 200px;
    }

    &__body {
      padding: 0;
      margin-top: 40px;
    }

    &__title {
      font-size: 1.5rem;
    }

  }
}