/*-------------------------------------------------------*/
/* Page 404
/*-------------------------------------------------------*/
.page-404 {
	&-section {
		padding: 15% 0;

		@include bp-lg-up {
			padding: 10% 0;
		}
		
	}

	&__title {
		font-size: 2rem;
	}

	&__text {
		font-size: 1.125rem;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	@include bp-md-up {
		&__title {
			font-size: 3rem;
		}
	}
}